.risk-management-container {
  background-color: #f0fff0; /* Light Blue */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 800px;
  margin: 60px auto;
  animation: fadeIn 1s ease-in-out;
  position: relative;
  overflow: hidden;
}

.risk-management-section-title {
  color: #4169e1; /* Dodger Blue */
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  animation: slideInDown 1s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.risk-management-section-title:hover {
  color: #4682b4; /* Steel Blue */
}

.risk-management-section-description {
  font-size: 18px;
  color: #333333; /* Charcoal Gray */
  margin-top: 20px;
  padding: 0 20px;
  animation: slideInUp 1s ease-in-out;
  line-height: 2.5rem;
}

.risk-management-section-description:hover {
  color: #6c757d; /* Slate Gray */
}

.risk-management-image-container {
  margin-top: 30px;
  animation: fadeIn 1.5s ease-in-out;
}

.consulting-risk-management-section-image {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}

/* Keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Media Queries */
/* Large screens (1280px and above) */
@media (max-width: 1280px) {
  .risk-management-container {
    padding: 25px;
    margin: 6% auto;
    width: 75%;
  }

  .risk-management-section-title {
    font-size: 22px;
  }

  .risk-management-section-description {
    font-size: 16px;
  }

  .consulting-risk-management-section-image {
    max-width: 350px;
  }
}

/* Medium screens (1024px and above) */
@media (max-width: 1024px) {
  ::selection {
    background-color: transparent;
  }

  .risk-management-container {
    padding: 20px;
    margin: 8% auto;
    width: 75%;
  }

  .risk-management-section-title {
    font-size: 20px;
  }

  .risk-management-section-description {
    font-size: 15px;
  }

  .consulting-risk-management-section-image {
    max-width: 300px;
  }
}

/* Tablet screens (820px and above) */
@media (max-width: 820px) {
  .risk-management-container {
    padding: 15px;
    margin: 10% auto;
    width: 80%;
    height: 80vh;
  }

  .risk-management-section-title {
    margin-top: 10%;
    font-size: 30px;
  }

  .risk-management-section-description {
    font-size: 27px;
    margin-top: 10%;
  }

  .consulting-risk-management-section-image {
    margin-top: 5%;
    max-width: 90%;
  }
}

/* Tablet screens (768px and above) */
@media (max-width: 768px) {
  .risk-management-container {
    padding: 15px;
    margin: 10% auto;
    width: 80%;
    height: 85vh;
  }

  .risk-management-section-title {
    margin-top: 10%;
    font-size: 30px;
  }

  .risk-management-section-description {
    font-size: 26px;
    margin-top: 6%;
  }

  .consulting-risk-management-section-image {
    margin-top: 5%;
    max-width: 85%;
  }
}

/* Mobile screens (480px and below) */
@media (max-width: 480px) {
  .risk-management-container {
    padding: 15px;
    margin: 19% auto;
    width: 80%;
    height: 80vh;
  }

  .risk-management-section-title {
    margin-top: 5%;
    font-size: 23px;
  }

  .risk-management-section-description {
    font-size: 18px;
    margin-top: 10%;
  }

  .consulting-risk-management-section-image {
    margin-top: 0%;
    max-width: 100%;
  }
}
