.profile-page {
    padding: 20px;
    background-color: #1c1c1c; /* Dark gray or black background */
    color: #f0f0f0; /* Light gray text */
  }
  
  .profile-page h2 {
    color: #003366; /* Deep blue for headings */
  }
  
  .profile-page p {
    font-size: 1.2em;
  }
  