.awards-slider-container {
  position: relative;
  max-width: 60%;
  margin: 40px auto;
  overflow: hidden;
  height: 78vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.awards-slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.awards-container {
  position: absolute;
  top: 0;
  left: 100%;
  width: 95%;
  height: 90%;
  padding: 20px;
  background-color: #faf9f6;
  text-align: center;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.awards-container.active {
  left: 0;
  opacity: 1;
}

.awards-title {
  color: #800020; /* Maroon */
  font-size: 28px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  animation: slideInDown 1s ease-in-out;
}

.dri-logo,
.award-photo,
.certification-emblem {
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.dri-logo:hover,
.award-photo:hover,
.certification-emblem:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.awards-description {
  font-size: 18px;
  color: #6c757d;
  margin-top: 20px;
  transition: color 0.3s ease-in-out;
  animation: slideInUp 1s ease-in-out;
  text-align: justify;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.awards-description:hover {
  color: #333333; /* Charcoal Gray */
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1000;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.slider-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Media Queries */
/* Laptop devices (max-width: 1280px) */
@media (max-width: 1280px) {
  .awards-slider-container {
    max-width: 70%;
    height: 76vh;
    margin: 30px auto;
  }

  .awards-container {
    width: 93%; /* Adjust width for laptops */
    height: 88%; /* Adjust height for laptops */
    padding: 18px; /* Adjust padding for laptops */
    top: 5%;
  }

  .awards-title {
    font-size: 30px; /* Adjust font size for laptops */
  }

  .dri-logo,
  .award-photo,
  .certification-emblem {
    width: 180px; /* Adjust size for laptops */
    height: 180px; /* Adjust size for laptops */
    margin: 18px; /* Adjust margin for laptops */
  }

  .awards-description {
    font-size: 19px; /* Adjust font size for laptops */
    max-width: 93%; /* Adjust width for laptops */
  }

  .slider-button {
    padding: 9px 18px; /* Adjust padding for laptops */
  }
}

/* Tablet devices (max-width: 1024px) */
@media (max-width: 1024px) {
  .awards-slider-container {
    max-width: 75%;
    height: 70vh;
    margin-top: 8%;
  }

  .awards-container {
    width: 90%; /* Adjust width for tablets */
    height: 85%; /* Adjust height for tablets */
    padding: 15px; /* Adjust padding for tablets */
    top: 0;
  }

  .awards-title {
    font-size: 24px; /* Adjust font size for tablets */
  }

  .dri-logo,
  .award-photo,
  .certification-emblem {
    width: 145px;
    height: 145px;
    margin: 15px;
  }

  .awards-description {
    font-size: 14px; /* Adjust font size for tablets */
    max-width: 95%; /* Adjust width for tablets */
  }

  .slider-button {
    padding: 5px 10px;
  }
}

/* Mobile devices (max-width: 820px) */
@media (max-width: 820px) {
  .awards-slider-container {
    max-width: 85%;
    height: 80vh;
    margin-top: 10%;
  }

  .awards-container {
    width: 100%;
    height: 85%;
    padding: 10px;
    top: 0%;
  }

  .awards-title {
    font-size: 28px;
    margin-top: 15%;
  }

  .dri-logo,
  .award-photo,
  .certification-emblem {
    width: 140px;
    height: 140px;
    margin: 5%;
    margin-top: 10%;
  }

  .awards-description {
    font-size: 26px;
    max-width: 80%;
    margin-top: 5%;
  }

  .slider-button {
    padding: 6px 12px;
  }
}

/* Mobile devices (max-width: 767px) */
@media (max-width: 768px) {
  .awards-slider-container {
    max-width: 90%;
    height: 82vh;
    margin-top: 10%;
  }

  .awards-container {
    width: 100%;
    height: 80%;
    padding: 10px;
    top: 0%;
  }

  .awards-title {
    font-size: 35px;
  }

  .dri-logo,
  .award-photo,
  .certification-emblem {
    width: 160px;
    height: 160px;
    margin: 25px;
  }

  .awards-description {
    font-size: 25px;
    max-width: 80%;
  }

  .slider-button {
    padding: 7px 10px;
  }
}

/* Smaller mobile devices (max-width: 480px) */
@media (max-width: 480px) {
  .awards-slider-container {
    max-width: 95%;
    height: 80vh;
    margin-top: 19%;
  }

  .awards-container {
    width: 100%;
    height: 100%;
    padding: 5px;
    top: 0%;
  }

  .awards-title {
    font-size: 25px;
  }

  .dri-logo,
  .award-photo,
  .certification-emblem {
    width: 100px;
    height: 100px;
    margin: 10px;
    margin-top: 10%;
  }

  .awards-description {
    font-size: 18px;
    max-width: 80%;
    margin-top: 10%;
  }

  .slider-button {
    padding: 5px 5px;
  }
}
