header {
  background-color: #f5f5f0;
  color: #333333;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center; /* Center align header content */
  transition: all 0.5s ease;
  z-index: 1000;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  white-space: nowrap;
  min-width: 50%;
  gap: 5px;
}

.acronym {
  font-size: 2em;
  font-weight: 700;
  margin-right: 10px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Text shadow added */
  text-decoration: none;
  color: #333333;
  position: relative; /* Ensure positioning context for pseudo-element */
  transition: all 0.1s ease;
}

.acronym::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #333333;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 1s;
}

.acronym:hover {
  color: #000000;
}

.acronym:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  transition: transform 0.5s;
  background-color: #000000;
}

.full-text {
  font-size: 1.5em;
  font-weight: 400;
  transition: opacity 0.5s ease;
  opacity: 1;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Text shadow added */
}

.scrolled .full-text {
  opacity: 0.8; /* Hide the full text when scrolled */
}

.scrolled .acronym {
  font-size: 1.7em; /* Optionally reduce the font size */
}

.navbar {
  background-color: #f5f5f0; /* Light beige background */
  padding: 10px 30px;
  width: 100%;
}

.navbar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: end;
}

.navbar-item {
  position: relative;
  margin-right: 20px;
  white-space: nowrap; /* Prevent wrapping for navbar items */
}

.navbar-item a {
  color: #5b5b5b; /* Charcoal gray text */
  text-decoration: none;
  font-size: 1em;
  padding: 10px;
  display: block;
  white-space: nowrap; /* Prevent wrapping for links */
}

.navbar-item:hover > a,
.selected-main > a {
  color: #000000; /* Charcoal gray text */
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); /* Box shadow */
}

.selected-sub > a,
.selected-sub > a:hover {
  background-color: #d8bfd8; /* Dusty rose background for selected sub-items */
  color: #333333; /* Charcoal gray text */
}

.dropdown,
.sub-dropdown,
.sub-sub-dropdown {
  display: none;
  position: absolute;
  background-color: #f5f5f0;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  white-space: nowrap;
}

.navbar-item:hover > .dropdown {
  display: block;
}

.dropdown-item:hover > .sub-dropdown {
  display: block;
}

.sub-dropdown-item:hover > .sub-sub-dropdown {
  display: block;
}

.dropdown {
  top: 100%;
  left: 0;
  min-width: 200px; /* Set a minimum width to accommodate content */
}

.contact-us-dropdown {
  left: -106%;
}

.sub-dropdown {
  top: 0;
  left: 100%;
  min-width: 200px; /* Set a minimum width to accommodate content */
}

.sub-sub-dropdown {
  top: 0;
  left: 100%;
  min-width: 200px; /* Set a minimum width to accommodate content */
}

.dropdown-item,
.sub-dropdown-item {
  position: relative;
}

.dropdown a,
.sub-dropdown a,
.sub-sub-dropdown a {
  color: #333333; /* Charcoal gray text */
  text-decoration: none;
  padding: 10px;
  display: block;
  white-space: nowrap; /* Prevent wrapping inside links */
}

.dropdown a:hover,
.sub-dropdown a:hover,
.sub-sub-dropdown a:hover {
  background-color: #d8bfd8; /* Dusty rose for hover effect */
  /* box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.3); */
}

.selected-sub {
  background-color: #d8bfd8; /* Dusty rose background for selected sub-items */
  color: #333333; /* Charcoal gray text */
  box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.3);
}
