/* Home Component Styles */
.home-carousel {
  width: 98vw;
  height: 80vh;
  background: #f5f5f0;
  padding: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
  margin: 5.6% auto;
}

.home-slick-slider.slick-initialized {
  height: 100%;
  background-color: #f5f5f0;
}

.home-slick-list {
  height: 100%;
}

.home-slick-track {
  height: 100%;
}

.home-slick-slide {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-carousel-slide {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.home-carousel-image {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Adjusted to maintain aspect ratio */
}

.home-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-cpted-india-content,
.home-objective-content {
  flex: 1;
  padding: 20px;
}

.home-cpted-india-image,
.home-objective-image {
  flex: 1;
  padding: 20px;
}

.home-cpted-india-image img,
.home-objective-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: contain; /* Adjusted to maintain aspect ratio */
}

.home-cpted-india-title,
.home-objective-title {
  font-size: 2em;
  margin-bottom: 15px;
  color: #333333;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.home-cpted-india-text,
.home-objective-text {
  font-size: 1.2em;
  color: #333333;
  margin: 10px 0;
  line-height: 1.5;
  text-align: left;
}

.home-slick-prev:before,
.home-slick-next:before {
  font-size: 24px !important;
  color: #fff !important; /* Ensure button text is white */
}

/* Ensure button styles are applied */
.home-slick-prev.slick-prev {
  left: 10px; /* Move inward from the left */
  z-index: 1;
  background-color: #3d1e81 !important; /* Bright color for prev button */
  color: #333333;
  border-radius: 50%;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.home-slick-prev.slick-prev:hover {
  background-color: #e5534e; /* Darken on hover */
}

.home-slick-next.slick-next {
  right: 20px; /* Move inward from the right */
  z-index: 1;
  background-color: #3d1e81 !important; /* Bright color for next button */
  color: #333333;
  border-radius: 50%;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.home-slick-next.slick-next:hover {
  background-color: #e5534e; /* Darken on hover */
}

.home-slide-caption {
  position: absolute;
  bottom: 19px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
  text-align: left;
  font-size: 10px;
  line-height: 1.5;
}

/* Custom Dot Navigation */
.home-slick-dots {
  position: absolute;
  bottom: 20px !important; /* Adjust to move dots up */
  width: 100%;
  text-align: center;
  z-index: 20; /* Ensure dots are above other elements */
}

.home-slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.home-slick-dots li button:before {
  font-size: 20px !important; /* Adjust size of dots */
  color: black !important; /* Change color of dots to black */
}

.home-slick-dots li.slick-active button:before {
  content: "●" !important; /* Use filled circle for the active dot */
  color: #ff6347 !important; /* Change color for active dot */
  font-size: 24px !important; /* Slightly larger for emphasis */
}
