html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.navbar {
  width: 100%;
  background-color: #E0F7FA; /* Light blue background */
  color: #003366; /* Navy blue text */
  display: flex;
  justify-content: left;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Softer shadow */
}

.nav-item {
  position: relative;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-item:hover {
  background-color: #81D4FA; /* Sky blue on hover */
}

.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #B0BEC5; /* Medium gray for sub-menu */
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Softer shadow */
  z-index: 1000;
}

.nav-item:hover .sub-menu {
  display: block;
}

.sub-item {
  padding: 10px 20px;
  white-space: nowrap;
  transition: background-color 0.3s;
}

.sub-item:hover {
  background-color: #81D4FA; /* Sky blue on hover */
}

.home-page {
  background-color: #FFFFFF; /* White background */
  color: #B0BEC5; /* Medium gray text */
  text-align: center;
}

.home-page h2 {
  color: #00BCD4; /* Light blue heading */
  margin-bottom: 20px;
}

.home-page p {
  font-size: 1.2em;
  color: #EEEEEE; /* Light gray text */
}

.carousel {
  width: 98vw;
  height: 60vh;
  background: rgba(51, 51, 51, 0.1); /* Very light gray background */
  border-radius: 10px;
  padding: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Softer shadow */
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.slick-slider.slick-initialized {
  height: 100%;
}

.slick-list {
  height: 100%;
}

.slick-track {
  height: 100%;
}

.slick-slide {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-slide {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-sizing: border-box;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide.zoom-in {
  transform: scale(1.1);
}

.carousel-slide.zoom-out {
  transform: scale(0.9);
}

.slide1 {
  background: url('./../../images/bg1.png') no-repeat center center;
  background-size: cover;
}

.slide2 {
  background: url('./../../images/bg2.png') no-repeat center center;
  background-size: cover;
}

.slide3 {
  background: url('./../../images/bg3.png') no-repeat center center;
  background-size: cover;
}

.slide4 {
  background: url('./../../images/bg4.png') no-repeat center center;
  background-size: cover;
}

.slick-prev:before, .slick-next:before {
  color: #00BCD4; /* Light blue for arrows */
}

.slick-prev {
  left: 10px;
  z-index: 1;
}

.slick-next {
  right: 10px;
  z-index: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide {
  animation: fadeIn 1s ease-in-out;
}
