/* Base Styles */
.corporate-security-container {
  background-color: #fff; /* Light Blue */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 800px;
  margin: 60px auto;
  animation: fadeIn 1s ease-in-out;
}

.corporate-security-title {
  color: #333333; /* Dodger Blue */
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  animation: slideInDown 1s ease-in-out;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.corporate-security-title:hover {
  color: #6c757d; /* Steel Blue */
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.corporate-security-description {
  font-size: 18px;
  color: #333333; /* Charcoal Gray */
  margin-top: 20px;
  padding: 0 20px;
  line-height: 1.6; /* Improved readability */
  letter-spacing: 0.5px;
  animation: slideInUp 1s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.corporate-security-description:hover {
  color: #6c757d; /* Dodger Blue */
}

.corporate-security-image-container {
  margin-top: 30px;
  animation: fadeIn 1.5s ease-in-out;
}

.corporate-security-image {
  width: 100%;
  max-width: 500px; /* Adjust size as needed */
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.corporate-security-image:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

/* Keyframes for animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Media Queries */
/* Large screens (1280px and above) */
@media (max-width: 1280px) {
  .corporate-security-container {
    padding: 25px;
    margin: 6% auto;
  }

  .corporate-security-title {
    font-size: 22px;
  }

  .corporate-security-description {
    font-size: 16px;
  }

  .corporate-security-image {
    max-width: 450px;
  }
}

/* Medium screens (1024px and above) */
@media (max-width: 1024px) {
  ::selection {
    background-color: transparent;
  }

  .corporate-security-container {
    padding: 20px;
    margin: 8% auto;
  }

  .corporate-security-title {
    font-size: 20px;
  }

  .corporate-security-description {
    font-size: 15px;
  }

  .corporate-security-image {
    max-width: 400px;
  }
}

/* Tablet screens (820px and above) */
@media (max-width: 820px) {
  .corporate-security-container {
    padding: 15px;
    margin: 10% auto;
    width: 80%;
    height: 77vh;
  }

  .corporate-security-title {
    margin-top: 10%;
    font-size: 28px;
  }

  .corporate-security-description {
    font-size: 26px;
    margin-top: 10%;
  }

  .corporate-security-image {
    margin-top: 11%;
    max-width: 90%;
  }
}

/* Tablet screens (768px and above) */
@media (max-width: 768px) {
  .corporate-security-container {
    padding: 15px;
    margin: 10% auto;
    width: 80%;
    height: 80vh;
  }

  .corporate-security-title {
    margin-top: 10%;
    font-size: 30px;
  }

  .corporate-security-description {
    font-size: 26px;
    margin-top: 6%;
  }

  .corporate-security-image {
    margin-top: 8%;
    max-width: 85%;
  }
}

/* Mobile screens (480px and above) */
@media (max-width: 480px) {
  .corporate-security-container {
    padding: 15px;
    margin: 19% auto;
    width: 80%;
    height: 80vh;
  }

  .corporate-security-title {
    margin-top: 10%;
    font-size: 25px;
  }

  .corporate-security-description {
    font-size: 18px;
    margin-top: 15%;
  }

  .corporate-security-image {
    margin-top: 6%;
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  .corporate-security-container {
    padding: 15px;
    margin: 19% auto;
    width: 80%;
    height: 80vh;
  }
}
